.form_main{
    background-color: #3c3f41;
    height: 30px;
    padding: 0;
}

.input{
    margin: 0;
    height: 30px;
    padding: 0;
    font-size: 14px;
    text-align: left;
    text-indent: 10px;
    color: #eaeaea;
    background-color: #45494a;
    border: none;
    border-right: solid #2b2b2b 2px;
    outline: none;
    font-family: "Apple Braille";
}

.button_add{
    padding: 0;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    color: #eaeaea;
    font-size: 14px;
    text-align: center;
    border-right: solid #2b2b2b 2px;
}

