.card{
    height: 80%;
    width: fit-content;
    background-color: #3c3f41;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
    color: #eaeaea;
    font-family: "Apple Braille";
}

.image{
    max-width: 100vh;
}